* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  background-color: #e0f7fa;
}

.container {
  max-width: 700px;
  margin: 50px auto;
  text-align: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #333;
}

.random-number,
.random-even-number {
  margin-bottom: 10px;
}

h2 {
  color: #1565c0;
  margin-top: 27px;
}
